{% extends 'base.html' %}
{% block content %}

<p>I just realized this isn't college and no one's checking if I'm giving credit to Wikipedia. </p>
<ul>
    <li>Hop: Hops are the flowers, or cones, of a plant called Humulus lupulus. Hops help to keep beer fresher, longer; help beer retain its head of foam—a key component of a beer's aroma and flavor; and, of course, add “hoppy” aroma, flavor, and bitterness.</li>
    <br><br>
    <li>Malt: Malt is germinated cereal grain that has been dried in a process known as "malting". The grain is made to germinate by soaking in water and is then halted from germinating further by drying with hot air.
        
        It also develops enzymes, such as proteases, that break down the proteins in the grain into forms that can be used by yeast. The point at which the malting process is stopped affects the starch-to-enzyme ratio, and partly converted starch becomes fermentable sugars.</li>
    <br><br>
    <li>Ester: Esters represent the largest group of flavor compounds in alcoholic beverages, generating the “fruity” aromas in beer (not including, of course, the direct addition of fruit and fruit flavors in certain beers). The esters are formed by the reactions of organic acids and alcohols created during fermentation.</li>
    <br><br>
    <li>IBU: International Bitterness Units are a chemical/instrumental measurement of the number of bittering compounds, specifically isomerized and oxidized alpha acids, polyphenols, and a few other select bittering chemicals, that make your beer taste bitter.</li>
    <br><br>
    <li>ABV: ABV, or alcohol by volume, is the standard measurement, used worldwide, to assess the strength of a particular beer. ... The ABV scale is simple in the fact that the higher the ABV, the more alcohol that beer contains.</li>
    <br><br>
    <li>SRM: The Standard Reference Method or SRM is one of several systems modern brewers use to specify beer color.</li>
    <br><br>
    <li>OG: A gravity reading taken just prior to yeast being added, or pitched, is referred to as the original gravity (OG). The OG will provide the brewer with a good idea of the potential alcohol percentage for that particular beer.</li>
    <br><br>
    <li>FG: If the fermentation is finished, the specific gravity is called the final gravity (abbreviated FG). For example, for a typical strength beer, OG could be 1.050 and FG could be 1.010. Several different scales have been used for measuring the original gravity.</li>
    <br><br>
    <li>Diacetyl: Diacetyl is a flavor compound present in most beers (and many wines), imparting aroma characteristics described as butter, butterscotch, or buttermilk when detected above its flavor threshold of 0.04 mg/l. ... Yeast excretes a precursor into the fermenting beer, where it breaks down chemically to produce diacetyl.</li>
</ul>

{% endblock %}